<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Un mundo donde tambien el triple impacto es negocio">
        <meta name="robots" content="index,follow">  
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Adams Garden</title>
    </head>
    <body>
        <header>
        <nav>  
            <img src="/images/menu.svg" alt="menu" class="menu"> 
            <div class="navbar-left" >
                <img src="/images/AdamsLogo.svg" alt="logo" class="logo">
                <ul> 
                    <li><a> Home </a></li>
                    <li><a> Productos </a></li>
                    <li><a> Marcas </a></li>
                    <li><a> Registro </a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <ul>
                    <li class="navbar-shopping-cart"> 
                        <img src="/images/shoppingCar.svg" alt="shopping-card" style="width: 30px;" >
                        <div>2</div>
                    </li>
                    <li class="user">
                        <img src="/images/user.svg" alt="user" class="user" style="width: 30px;">
                    </li>
                </ul>
            </div>
        </nav>
        </header> 
        <main>
            <section>
                <article>
                    
                </article>
            </section>
        </main>
        <footer>

        </footer> 
    </body>
</html>